<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="icon" href="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png">
<link rel="stylesheet" href="./css/main.css">
</head>
<body>
{{>header}}
<h2>Weather Page</h2>
<form>
<input type="text" name="address "placeholder="Enter Location">
<button type="submit">Find</button>
</form>
<img src="" width="100">
<p class="weatherInfo"></p>
<p class="weatherInfo"></p>

{{>footer}}

<script src="/js/main.js" type="text/javascript"></script>

</body>
</html>